*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(204, 157, 248);
}

main{
    background-color: white;
    padding: 12px ;
    margin:auto ;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    width: 500px;
}
h1{
    font-size: 2em ;
    color: rgb(58,0,112);
}

h2{
    font-size: 1.5em;
    color: rgb(58, 0, 112);
}

a{
 text-decoration: none;
 font-weight: bold;

}

a:hover{
    text-decoration: none;
    color: rgb(26, 26, 255) ;

}

img- lado{
    float: right;
}

iframe{
    padding: 10px ;
    margin:auto ;
    width: 500px; 
    
}